<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Add New Machine</h2>
        Please fill the required fields and press Save to add the new machine.
    </div>

    <div class="panel-body">

        <div class="form-group">
            <label for="type">Type:</label>
            <select ng-model="$ctrl.machine.type" class="form-control" id="type">
                <option>Shovel</option>
                <option>Truck</option>
                <option>Loader</option>
            </select>
            <label for="name">Model:</label>
            <input ng-model="$ctrl.machine.model" type="text" class="form-control" id="name">


            <label for="name">Weight:</label>
            <input ng-model="$ctrl.machine.weight" type="text" class="form-control" id="name">

            <label for="lat">Speed :</label>
            <input ng-model="$ctrl.machine.speed" type="text" class="form-control" id="lat">

            <label for="lng">Capacity:</label>
            <input ng-model="$ctrl.machine.capacity" type="text" class="form-control" id="lng">

            <label for="desc">WeightCapacity:</label>
            <input ng-model="$ctrl.machine.weightCapacity" type="text" class="form-control" id="desc">

            <label for="desc">FuelCapacity:</label>
            <input ng-model="$ctrl.machine.fuelCapacity" type="text" class="form-control" id="desc">

            <label for="desc">FuelConsumption :</label>
            <input ng-model="$ctrl.machine.fuelConsumption" type="text" class="form-control" id="desc">

            <label for="desc">Long :</label>
            <input ng-model="$ctrl.machine.lng" type="text" class="form-control" id="desc">

            <label for="desc">Lat :</label>
            <input ng-model="$ctrl.machine.lat" type="text" class="form-control" id="desc">

            <label for="desc">IsAvailable :</label>
            <input ng-model="$ctrl.machine.isAvailable" type="checkbox" class="form-control" id="desc">

            <label for="desc">FuelLevel</label>
            <input ng-model="$ctrl.machine.fuelLevel" type="text" class="form-control" id="desc">

            <label for="desc">Year</label>
            <input ng-model="$ctrl.machine.modalYear" type="text" class="form-control" id="desc">

        </div>

    </div>

    <div class="panel-footer">
        <button class="btn btn-default" ng-click="$ctrl.save()">Save</button>
        <button class="btn btn-error" ng-click="$ctrl.discard()">Discard</button>

    </div>



</div>