<div class="container" style="width:95%;">
    <div class="top-menu">
        <h2 class="top-title"><span class="fa fa-map-marker"></span> Map Editor</h2>
        <div class="top-toolbar">
            <button class="btn btn-default" ng-click="$ctrl.addLocation()">Add Location</button>
            <button class="btn btn-default" ng-click="$ctrl.toggleEditRoads()">Edit Roads</button>
            <button class="btn btn-default" ng-click="$ctrl.addRoad()" ng-disabled="!$ctrl.editRoads">Add Road</button>
            <button class="btn btn-primary" ng-click="$ctrl.exportRoads()">Export Roads</button>
        </div>
    </div>
    <hr class="lblue">

    <div id="map" class="box" style="height:750px;width:100%"></div>

</div>
<div class="bottom-footer"> Opmop<sup>Ⓒ</sup> Application <br> By: Ahdab Serhan & Bolous AbuJaber.</div>