<div class="container" style="width:95%">

    <div class="top-menu">
        <h2 class="top-title"><span class="fa fa-desktop"></span> Monitor</h2>
        <div class="top-toolbar">
            <button class="btn btn-success" ng-click="$ctrl.refresh()">Refresh</button>
        </div>
    </div>
    <hr class="lblue">

    <div class="row">
        <div class="col-lg-4 box" style="margin-top:20px;width:650px;height:490px;">
            <canvas id="videoCanvas" width="640" height="480"> </canvas>
        </div>

        <div class="col-md-3 box" style="margin-top:20px;">
            <h4>Machines</h4>
            <nvd3 options="$ctrl.options" data="$ctrl.data"></nvd3>
        </div>

        <div class="col-md-3 box" style="margin-top:20px;">
            <h4>Material</h4>

            <nvd3 options="$ctrl.options2" data="$ctrl.data2"></nvd3>
        </div>
        <div class="col-md-3 box" style="margin-top:20px;">
            <h4>Fuel</h4>

            <nvd3 options="$ctrl.options3" data="$ctrl.data3"></nvd3>
        </div>


    </div>
</div>

<div class="bottom-footer"> Opmop<sup>Ⓒ</sup> Application <br> By: Ahdab Serhan & Bolous AbuJaber.</div>