<div class="container" style="width:95%">

    <div class="top-menu">
        <h2 class="top-title"><span class="fa fa-truck"></span> Machines Editor</h2>
        <div class="top-toolbar">
            <button class="btn btn-default" ng-click="$ctrl.addMachine() "><span class="fa fa-plus"> </span> Add</button>
            <button class="btn btn-default" ng-click="$ctrl.editMachine() "><span class="fa fa-edit"></span> Edit</button>
            <button class="btn btn-danger" ng-click="$ctrl.deleteMachine() "><span class="fa fa-remove"></span> Delete</button>
        </div>
    </div>


    <div class="row" style="margin-left:25%; width:50%;">
        <search-ui search-call="$ctrl.searchCallBack(searchObj)"></search-ui>
    </div>

    <hr class="lblue">
    <div class="row" style=" width:100%;">


        <div class="row" style="margin-left:8%">
            <div ng-if="$ctrl.filteredMachines != undefined" ng-repeat="machine in $ctrl.filteredMachines" class="col-sm-3 box expanding-machine">
                <machine-ui machine="machine"></machine-ui>
            </div>
        </div>

        <div class="row" style="margin-left:8%">
            <div ng-if="$ctrl.filteredMachines == undefined" ng-repeat="machine in $ctrl.machines" class="col-sm-3 box expanding-machine">
                <machine-ui machine="machine"></machine-ui>
            </div>
        </div>
    </div>

</div>
<div class="bottom-footer"> Opmop<sup>Ⓒ</sup> Application <br> By: Ahdab Serhan & Bolous AbuJaber.</div>