<div class="container" style="width:95%">
    <div class="jumbotron">


        <div class="jumbotron">
            <div>
                <div style="position:relative; left:0px;">
                    <h2>Machines</h2>
                </div>

                <div style="position:relative; left:0px; padding-bottom:15px;">
                    <button class="btn btn-default" ng-click="$ctrl.addMachine() "><span class="fa fa-plus"> </span> Add</button>
                    <button class="btn btn-default" ng-click="$ctrl.editMachine() "><span class="fa fa-edit"></span> Edit</button>
                    <button class="btn btn-danger" ng-click="$ctrl.deleteMachine() "><span class="fa fa-remove"></span> Delete</button>

                </div>

            </div>

            <div ui-grid="$ctrl.gridOptions " ui-grid-selection style="height:600px; "></div>




        </div>


    </div>
</div>