<div style="width:100%; height:100%;overflow-x:hidden">


    <div class="btn-group-vertical" style="position:absolute; top:40%; left:2px; z-index:1000">
        <button class="btn  btn-default" ng-click="$ctrl.openSidePanel('markers')">
        <span class="fa fa-map-marker"></span>
            </button>
    </div>

    <div style="position:absolute; right:10px; top:55px;z-index:1000;height:50px;">
        <div class="top-toolbar">
            <button class="btn btn-sm btn-default" ng-click="$ctrl.toggleEditRoads()">Edit Roads</button>
            <button class="btn btn-sm btn-primary" ng-click="$ctrl.exportMachines()">Export Roads</button>
        </div>
    </div>


    <div pageslide ps-side="left" ps-push="true" ps-click-outside="true" ps-open="$ctrl.sidePanels.markers">
        <div style="margin-top:70px; height:90%;text-align:center">

            <h3>Markers</h3>
            <div class="btn-group top-toolbar">
                <label class="btn btn-xs btn-default" ng-model="$ctrl.mapMarkers.trucks" ng-click="$ctrl.refresh()" uib-btn-checkbox>Trucks</label>
                <label class="btn btn-xs btn-default" ng-model="$ctrl.mapMarkers.shovels" ng-click="$ctrl.refresh()" uib-btn-checkbox>Shovels</label>
                <label class="btn btn-xs btn-default" ng-model="$ctrl.mapMarkers.loaders" ng-click="$ctrl.refresh()" uib-btn-checkbox>Loaders</label>
                <label class="btn btn-xs btn-primary" ng-model="$ctrl.mapMarkers.locations" ng-click="$ctrl.refresh()" uib-btn-checkbox>Locations</label>
                <label class="btn btn-xs btn-primary" ng-model="$ctrl.mapMarkers.roads" ng-click="$ctrl.refresh()" uib-btn-checkbox>Roads</label>
            </div>

            <hr class="lblue" style="height:1px;">

            <h3>Machines</h3>

            <ul class="list-group" style="height: 80%;overflow:auto;">
                <li class="list-group-item" ng-repeat="machine in $ctrl.machines">
                    <td style="padding:1px;">
                        <div class="btn-group" uib-dropdown is-open="status.isopen">
                            <button id="single-button" type="button" class="btn btn-sm btn-primary" uib-dropdown-toggle ng-disabled="disabled"><span class="caret"></span></button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a href="#" ng-click="$ctrl.showRoute(machine)">Show Route</a></li>
                                <li role="menuitem"><a href="#">Edit</a></li>
                                <li role="menuitem"><a href="#">Delete</a></li>
                                <li class="divider"></li>
                                <li role="menuitem"><a href="#">Hide</a></li>
                            </ul>
                        </div>
                    </td>
                    <td style="padding:1px;">{{machine.id}}</td>
                    <td style="padding:1px;">{{machine.model}}</td>
                </li>

            </ul>

        </div>
    </div>

    <div id="map" style="margin:0;height:100%;width:100%">

    </div>

</div>
<div class="bottom-footer"> Opmop<sup>Ⓒ</sup> Application <br> By: Ahdab Serhan & Bolous AbuJaber.</div>