<div class="col-md-2 col-centered" style="color:#444;width:240px;height:150px;">
    <justgage style="display:inline-block;position:absolute;margin:1em;" hide-min-max="true" relative-gauge-size="true" gauge-width-scale="1" value="12" width="{{$ctrl.gageWidth}}" symbol=" c" height="{{$ctrl.gageHeight}}"></justgage>
    <justgage style="display:inline-block;position:absolute;margin:1em;" relative-gauge-size="true" hide-value="true" gauge-width-scale="0.75" label="24" value-font-color="white" value="66" width="{{$ctrl.gageWidth}}" height="{{$ctrl.gageHeight}}"></justgage>
    <justgage style="display:inline-block;position:absolute;margin:1em;" hide-min-max="true" relative-gauge-size="true" gauge-width-scale="0.5" value="34" width="{{$ctrl.gageWidth}}" symbol=" c" height="{{$ctrl.gageHeight}}"></justgage>
    <justgage style="display:inline-block;position:absolute;margin:1em;" relative-gauge-size="true" hide-value="true" gauge-width-scale="0.25" label="45" value-font-color="white" value="66" width="{{$ctrl.gageWidth}}" height="{{$ctrl.gageHeight}}"></justgage>

</div>